<div class="container">
	<form action="/login" method="post" class="form-signin">
	  <h2 class="form-signin-heading">Login</h2>
	  <label for="user" class="sr-only">Username</label>
	  <input type="text" id="user" name="username" class="form-control" placeholder="Username" maxlength="40" required autofocus>
	  <label for="pas" class="sr-only">Password</label>
	  <input type="password" id="pas" name="password" class="form-control" placeholder="Password" maxlength="40" required>
	  <input class="btn btn-primary" type="submit" value="Submit" role="button">
	  <label>Please use username: "hchien" password: "scu123" for testing</label>
	</form> 
</div>
